body {
    font: normal 15px arial;
    background-color: rgb(101, 101, 255);
    text-align: center;
}

header {
    color: white;
    text-align: center;
    font-size: 2em;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    height: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

div {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    width: 65%;
}